* {
	box-sizing: border-box;
}
/*=======================Header:====================================================
Start styles for header.
- Nav-bar and main header
===================================================================================*/

.header {
	width: vw;
	display: flex;
	justify-content: flex-end;
}

.brand {
	padding-top: 25px;
	padding-bottom: 25px;
}

.logo img {
	width: 30px;
	height: 30px;
	margin-right: 50%;
	margin-left: 50%;
}

.search, .menu-right{
	display: flex;
	justify-content: flex-end;
}

.menu-left {
	display: flex;
	justify-content: flex-start;
}

.shopping-bag img {
	width: 35px;
	height: 35px;
}

/*=======================Components:==================================================
Start styles for components
===================================================================================*/

.carousel-img {
	width: 80%;
	height: 400px;
	margin-left: 10%;
}

.carousel-img img {
	height: 100%;
}

/*=======================Footer:==================================================
Start styles for footer
===================================================================================*/
.footer-top {
	color: #FAFAFA;
}

.footer {
	/*position: fixed;*/
	width: 100%;
	overflow: hidden;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: #212529;
}

.text-muted {
	margin-bottom: 0;
}

.promo-mail {
	text-align: left;
}

.footer-middle {
	color: #FAFAFA;
}

.purchase img {
	display: flex;
	justify-content: space-between;
	width: 50px;
	height: 50px;
	background-color: #FAFAFA;
	border-radius: 30%;
}



.top, .middle {
	display: flex;
	justify-content: space-around;
	margin-left: 5%; 
}

.info {
	text-align: left;
	font-size: 13px;
}

a:hover {
	text-decoration: none;
}

.footer-bottom img {
	display: flex;
	justify-content: center;
	width: 30px;
	height: 30px;
}

.social {
	margin-right: 50%;
	margin-left: 50%;
}

.fb-link, .ig-link, .in-link {
	align-self: center;
	cursor: pointer;
	-webkit-transition: border-radius 2s;
	transition:all .3s ease-out;
	-moz-transition: translate(-10px, 0);
	-o-transition: translate(-10px, 0);
	transform: translate(-10px, 0);

}

.fb-link:hover, .ig-link:hover, .in-link:hover {
	cursor: pointer;
	-webkit-transition: border-radius 2s;
	transition:all .3s ease-out;
	-moz-transition: translate(0,-10px);
	-o-transition: translate(0,-10px);
	transform: translate(0,-10px);

}